@model HomematicApp.ViewModels.ParametersModel


@{
	ViewData["Title"] = "View Parameters";
	ViewData["temperature"] = "Temperature";
	ViewData["light-intensity"] = "Light Intensity";
	ViewData["opened-door"] = "Opened Door";

}

<h1>View Parameters</h1>

<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table " id="dataTable" width="100%" cellspacing="0">
				<thead class="thead-dark">
					<tr>
						<th class="text-center">@ViewData["temperature"]</th>
						<th class="text-center">@ViewData["light-intensity"]</th>
						<th class="text-center">@ViewData["opened-door"]</th>
						<th class="text-center" data-orderable="false">@ViewData["action"]</th>
					</tr>
				</thead>
				<tbody>
						<tr>
						<td class="text-center">@Model.Temperature°C</td>
						   <td class ="text-center">@Model.Light_intensity%</td>
							<td class="text-center">@Model.Opened_door</td>
						</tr>
					
				</tbody>
			</table>
		</div>
	</div>
</div>




<h2>Modify Parameters</h2>

<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
			<form class="user" method="post" asp-action="ModifyParameters">
            <table class="table " id="dataTable" width="100%" cellspacing="0">
                <tr>
                    <td><label for="light">Light: </label></td>
						<td>
							<input id="mine" type="range" min="0" max="100" value="21" class="slider" id="light" oninput="this.nextElementSibling.value = this.value" asp-for="Light_intensity" onChange="change()">
							<span id="result"></span>%
					</td>
                </tr>
                <tr>
                    <td><label for="Temperature">Temperature: </label></td>
					<td>
							<input type="number" min="0" max="40" id="temperature" name="temperature" value="25" asp-for="Temperature">°C
					</td>
                </tr>
                <tr>
                    <td><label for="door">Door: </label></td>
                    <td>
							Closed: <input type="radio" value=false asp-for="Opened_door">
							Opened: <input type="radio" value=true asp-for="Opened_door">				
                    </td>
                </tr>
                <tr>
						<td>
							<button type="submit" class="btn btn-primary btn-user btn-block">
								Submit
							</button>
						</td>
                </tr>
            </table>
			</form>
        </div>
    </div>
</div>

<script>
	var result = document.getElementById("result");
	var mine = document.getElementById("mine");
	function change() {
		result.innerText = mine.value;
	}
</script>
