@model HomematicApp.ViewModels.ViewUsersModel

@{
    ViewData["Title"] = "View Users";
	ViewData["device-id"] = "Device Id";
	ViewData["email"] = "Email";
	ViewData["first-name"] = "First Name";
	ViewData["last-name"] = "Last Name";
	ViewData["cnp"] = "CNP";
	ViewData["action"] = "Delete User";
	ViewData["success-message"] = "The user was successfully deleted!";
	ViewData["failure-message"] = "The user could not be deleted!";


}

<div class="form-group row">
	@if (ViewBag.DeleteSuccessful == true)
	{
		<div class="alert alert-success" role="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
			@ViewData["success-message"]
		</div>
	}
	@if (ViewBag.DeleteSuccessful == false)
	{
		<div class="alert alert-danger" role="alert">
			<span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
			@ViewData["failure-message"]
		</div>
	}
</div>

<h1>View Users</h1>
<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>

						<th class="text-center">@ViewData["device-id"]</th>
						<th class="text-center">@ViewData["email"]</th>
						<th class="text-center">@ViewData["first-name"]</th>
						<th class="text-center">@ViewData["last-name"]</th>
						<th class="text-center">@ViewData["cnp"]</th>
						<th class="text-center" data-orderable="false">@ViewData["action"]</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ViewUsers)
					{
						<tr>
							<td>@item.Device_Id</td>
							<td>@item.Email</td>
							<td>@item.First_Name</td>
							<td>@item.Last_Name</td>
							<td>@item.CNP</td>					
								<th>
									<div class="btn-group-vertical">
									<a class="btn btn-outline-danger mx-1 p-1"
									   onclick="DisplayConfirmDeleteModal('@item.Email')">
									   Delete
									</a>
									</div>
								</th>
						</tr>						
					}
				</tbody>
			</table>
		</div>
	</div>
</div>
<!-- delete modal -->
<div id="deleteModal" class="modal fade" role='dialog'>
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header bg-danger" style="padding:5px;">
				<h4 class="modal-title" style="color:white">Confirm Delete </h4>
			</div>
			<div class="modal-body">
				<div class="row">
					<div class="form-group">
						<div class="col-sm-12">
				<span>
					Are you sure you want to delete
				</span>
				<strong id="UserEmailToDelete">
				</strong>
				<span>
					?
				</span>
			</div>
			</div>
			</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-x"></i> Cancel</button>
				<button type="button" class="btn btn-danger" id="btnDelete"><i class="bi bi-x"></i> Delete </button>
			</div>

		</div>
	</div>
</div>
<!--delete modal ends here--->
@section Scripts{
	<script type="text/javascript">
		function DisplayConfirmDeleteModal(Email) {
			console.log(Email)
			$("#UserEmailToDelete").text(Email);
			$("#UserEmailToDelete").val(Email);
			$("#deleteModal").modal('show');
		}

		$(document).ready(function () {
			$("#btnDelete").on("click", function () {
				let Email = $("#UserEmailToDelete").val();
				let UrlHandler = "/Admin/DeleteUser";
				$.ajax({
					url: UrlHandler,
					type: 'POST',
					contentType: "application/json; charset=utf-8",
					data: JSON.stringify({ "Email": Email }),					
				});
				$("#deleteModal").modal('hide');
				window.location.reload();
			});
		});


		
	</script>
}
