@model HomematicApp.ViewModels.ViewUsersModel

@{
    ViewData["Title"] = "View Users";
	ViewData["device-id"] = "Device Id";
	ViewData["email"] = "Email";
	ViewData["first-name"] = "First Name";
	ViewData["last-name"] = "Last Name";
	ViewData["cnp"] = "CNP";
	ViewData["action"] = "Delete User";
}

<h1>View Users</h1>

<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
				<thead>
					<tr>

						<th class="text-center">@ViewData["device-id"]</th>
						<th class="text-center">@ViewData["email"]</th>
						<th class="text-center">@ViewData["first-name"]</th>
						<th class="text-center">@ViewData["last-name"]</th>
						<th class="text-center">@ViewData["cnp"]</th>
						<th class="text-center" data-orderable="false">@ViewData["action"]</th>
					</tr>
				</thead>
				<tbody>
					@foreach (var item in Model.ViewUsers)
					{
						<tr>
							<td>@item.Device_Id</td>
							<td>@item.First_Name</td>
							<td>@item.Last_Name</td>
							<td>@item.CNP</td>
							<td>@item.Email</td>
								<th>
									<div class="btn-group-vertical">
									<form method="post" asp-action="DeleteUser" asp-route-Id='@item.Email'>
                                        <button id="delete-user" class="btn btn-outline-danger mb-2" data-user-id="@item.Email">Delete</button>
										</form>
									</div>
								</th>
						</tr>
					}
				</tbody>
			</table>
		</div>
	</div>
</div>


  
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/jquery/dist/jquery.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script>
	$(document).ready(function () {
		$('.delete-user').click(function () {
			var userId = $(this).data('user-id');
			console.log(userId);
			var userName = $(this).closest('tr').find('td:first').text();
			var confirmationMessage = 'Are you sure you want to delete the user: ' + userName + '?';
			console.log(userName);
			// Show the confirmation dialog
			if (confirm(confirmationMessage)) {
				// User confirmed, perform the delete action
				deleteUser(userId);
			}
		});

		function deleteUser(userId) {
			// Send an AJAX request to delete the user
			$.ajax({
				url: '/Admin/Delete', // Replace with your delete action URL
				type: 'POST',
				data: { id: userId },
				success: function () {
					// Handle the success case, such as refreshing the table
					location.reload();
				},
				error: function () {
					// Handle the error case
					alert('An error occurred while deleting the user.');
				}
			});
		}
	});
</script>