@model HomematicApp.ViewModels.ResetPasswordEmail

@{
    ViewData["Title"] = "Request reset password";
    ViewData["reset-message"] = "Please fill in your email address. A password request will be sent to this address:";
    ViewData["email-placeholder"] = "Email";
    ViewData["success-message"] = "The password reset request was sent! Please check your email.";
    ViewData["failure-message"] = "Invalid email!";
    ViewData["reset-password-button"] = "Reset Password";
}

<h1>@ViewData["Title"]</h1>

<form class="user" method="post" asp-action="ForgotPassword">
    <div class="form-group row">
        @if (ViewBag.RequestSuccess == true)
        {
            <div class="alert alert-success" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                @ViewData["success-message"]
            </div>
        }
        @if (ViewBag.RequestFailed == true)
        {
            <div class="alert alert-danger" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                @ViewData["failure-message"]
            </div>
        }
    </div>
    <div class="spacing">@ViewData["reset-message"]</div>
    <div class="form-group row spacing">
        <div class="col-sm-6 mb-3 mb-sm-0">
            <input type="email" class="form-control form-control-user" asp-for="Email"
                   placeholder=@ViewData["email-placeholder"]>
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        @ViewData["reset-password-button"]
    </button>
</form>
