@model HomematicApp.ViewModels.ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
    ViewData["reset-message"] = "Please fill in the new password:";
    ViewData["new-password-placeholder"] = "New Password";
    ViewData["success-message"] = "Your password was successfully reset!";
    ViewData["failure-message"] = "Something went wrong! Your password could not be reset!";
    ViewData["reset-password-button"] = "Reset Password";
    ViewData["expired-token-message"] = "This request is no longer available!";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.TokenExpired != true)
{
    <form class="user" method="post" asp-action="ResetPassword">
        <div class="form-group row">
            @if (ViewBag.ResetSuccess == true)
            {
                <div class="alert alert-success" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                    @ViewData["success-message"]
                </div>
            }
            @if (ViewBag.ResetSuccess == false)
            {
                <div class="alert alert-danger" role="alert">
                    <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                    @ViewData["failure-message"]
                </div>
            }
        </div>
        <div class="spacing">@ViewData["reset-message"]</div>
        <div class="form-group row spacing">
            <div class="col-sm-6 mb-3 mb-sm-0">
                <input type="password" class="form-control form-control-user" asp-for="NewPassword"
    placeholder=@ViewData["new-password-placeholder"]>
                <span asp-validation-for="NewPassword" class="text-danger"></span>
            </div>
        </div>
        <button type="submit" class="btn btn-primary btn-user btn-block">
            @ViewData["reset-password-button"]
        </button>
    </form>
}

@if (ViewBag.TokenExpired == true){
    <div class="alert alert-danger" role="alert">@ViewData["expired-token-message"]</div>
}


