@model HomematicApp.ViewModels.PresetModel

@{
    ViewData["Title"] = "Create Event";
    ViewData["create-event-button"] = "Create Event";
    ViewData["preset-name"] = "Event Name";
    ViewData["start-date"] = "Start Date";
    ViewData["end-date"] = "End Date";
    ViewData["time"] = "Time";
    ViewData["value"] = "Value";
    ViewData["failure-message"] = "The event could not be created!";
}

<h1>
    @ViewData["Title"]
</h1>

<form class="user" method="post" asp-action="CreateEvent">
    <div class="form-group row">
        @if (ViewBag.CreateEventSuccess == false)
        {
            <div class="alert alert-danger" role="alert">
                <span class="closebtn" onclick="this.parentElement.style.display='none'">×</span>
                @ViewData["failure-message"]
            </div>
        }
    </div>
    <div class="card shadow mb-4 col-sm-6">
        <div class="card-body">
    <div class="form-group row spacing">
                <div class="col-sm-6">
            <label asp-for="Preset_Name">@ViewData["preset-name"]<span class="text-danger">*</span></label>
            <input type="text" class="form-control" asp-for="Preset_Name"
                   placeholder=@ViewData["preset-name"]>         
        </div>  
    </div>
            <div class="form-group row spacing">
                <div class="col-sm-6">
                    <label asp-for="Start_Date">@ViewData["start-date"]<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" asp-for="Start_Date"
                           placeholder=@ViewData["start-date"]>
                </div>
            </div>
            <div class="form-group row spacing">
                <div class="col-sm-6">
                    <label asp-for="End_Date">@ViewData["end-date"]<span class="text-danger">*</span></label>
                    <input type="date" class="form-control" asp-for="End_Date"
                           placeholder=@ViewData["start-date"]>
                </div>
            </div>
        <div><strong>Light options</strong></div>
            <div class="form-group row spacing">
                <div class="col-sm-6">
                <label asp-for="Light.Time">@ViewData["time"]</label>
                    <input type="time" class="form-control" asp-for="Light.Time"
                   placeholder=@ViewData["time"]>
            </div>
        <div class="col-sm-6">
            <label asp-for="Light.Value" >@ViewData["value"]</label>                           
            <input type="range" id="lightRangeId" min="0" max="100" value ="0" class="custom-range"
                           placeholder=@ViewData["value"] oninput="this.nextElementSibling.value = this.value">
                            <input type="text" asp-for="Light.Value" class="form-control" readonly style="max-width:55px">
        </div>
        <div><strong>Temperature options</strong></div>
        <div class="form-group row spacing">
        <div class="col-sm-6">
            <label asp-for="Temperature.Time">@ViewData["time"]</label>
            <input type="time" class="form-control" asp-for="Temperature.Time"
                   placeholder=@ViewData["time"]>
        </div>
            <div class="col-sm-6">
                        <label asp-for="Temperature.Value" style="margin-left:5%">@ViewData["value"]</label>
                        <input type="range" id="lightRangeId" min="0" max="40" value ="0" class="custom-range" 
                                   placeholder=@ViewData["value"] oninput="this.nextElementSibling.value = this.value" >
                        <input type="text" asp-for="Temperature.Value" class="form-control" readonly style="max-width:55px; margin-left:5%">
        </div>
    </div>
    </div>
    </div>
    </div>
    <button type="submit" class="btn btn-primary btn-user btn-block">
        @ViewData["create-event-button"]
    </button>
</form>
