@model HomematicApp.ViewModels.ParameterModel


@{
	ViewData["Title"] = "View Parameters";
	ViewData["temperature"] = "Temperature";
	ViewData["light-intensity"] = "Light Intensity";
	ViewData["opened-door"] = "Door Status";

}

<h1>Parameters</h1>

<div class="card shadow mb-4">
	<div class="card-body">
		<div class="table-responsive">
			<form method="post" asp-action="ModifyParameters">
			<table class="table " id="dataTable" width="100%" cellspacing="0">
				<thead class="thead-dark">
					<tr>
						<th class="text-center">@ViewData["temperature"]</th>
						<th class="text-center">@ViewData["light-intensity"]</th>
						<th class="text-center">@ViewData["opened-door"]</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
						<tr>
							<td class="text-center" id="temperatureCell">@Model.Temperature°C</td>
							<td class ="text-center" id="lightCell">@Model.Light_Intensity%</td>
							<td class="text-center" id="doorCell">@(@Model.Opened_Door == true ? "opened" : "closed")</td>
							<td></td>
						</tr>
					<tr>
						<td class="text-center">
							<div style="margin-top:3%">
								<input type="number" min="0" style="width:50px;" max="40" id="temperature" name="temperature" value=@Model.Temperature asp-for="Temperature">°C
							</div>
						</td>
						<td class="text-center">
							<div style="margin-top:3%">
								<input type="range" min="0" max="100" value=@Model.Light_Intensity class="slider" id="light" oninput="this.nextElementSibling.value = this.value" asp-for="Light_Intensity" onChange="change()">
								<span id="result"></span>%
							</div>
						</td>
						<td class="text-center">
							<div style="display:inline-grid">
									<div>Close: <input type="radio" value=false id="open" asp-for="Opened_Door"></div>
									<div>Open: <input type="radio" value=true id="close" asp-for="Opened_Door"></div>
							</div>
						</td>
						<td>						
						</td>
						
					</tr>				
				</tbody>
			</table>
			<button type="submit" class="btn btn-primary btn-user btn-block" id="submit" style="float:right;margin-right:5%">
				Submit
			</button>
			</form>
		</div>
	</div>
</div>

<script>
	var result = document.getElementById("result");
	var mine = document.getElementById("light");
	function change() {
		result.innerText = mine.value;
	}
</script>
